<div id="add-medicament">
    <h2>Add medicament</h2>
    <form [formGroup]="customForm">
        <div class="form-group">
            <div style="margin-bottom: 10px;">
                <select formControlName="doctor">
                    <option *ngFor="let doctor of doctors" [ngValue]="doctor.id">
                      {{ doctor.firstName }} {{ doctor.lastName }}
                    </option>
                  </select>
            </div>
        </div>
        <div class="form-group">
            <input matInput [ngxMatDatetimePicker]="picker" placeholder="Choose a date" formControlName="date"
            >
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <ngx-mat-datetime-picker #picker>
            </ngx-mat-datetime-picker>
        </div>

        <div class="form-group">
            <button  class="btn btn-primary" (click)="onSubmit()">
                Add
            </button>
        </div>
    </form>
</div>